div#wpforms-1018 form.wpforms-form div.wpforms-field-container div.dutapod-general-form.field-name fieldset div.wpforms-field-row {
  max-width: 100%;
}
div#wpforms-1018 form.wpforms-form div.wpforms-field-container div.dutapod-general-form.field-email input.wpforms-field-medium {
  max-width: 100%;
}
div#wpforms-1018 form.wpforms-form div.wpforms-field-container div.dutapod-general-form.field-company input.wpforms-field-medium {
  max-width: 100%;
}
div#wpforms-1018 form.wpforms-form div.wpforms-field-container div.dutapod-general-form.field-phone-number input.wpforms-field-medium {
  max-width: 100%;
}