/** Package dutapod-companion */
/*
*   @Package devsunsettheme
* * Need to test the code in the actual position before import. (file devsunset.scss)
**/
/*
Devsunset variables
-----------------------
*/
/**
*    @Package sunsetpro plugin
* * Need to test the code in the actual position before import. (file sunsetpro.scss)
**/
/* Color code */
/*Filter color*/
.colorize-white {
  filter: invert(97%) sepia(0%) saturate(7486%) hue-rotate(14deg) brightness(102%) contrast(101%);
}

.colorize-white-with-black-shadow {
  filter: invert(97%) sepia(0%) saturate(7486%) hue-rotate(14deg) brightness(102%) contrast(101%)drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.8));
}

.colorize-black {
  filter: invert(0%) sepia(0%) saturate(7484%) hue-rotate(305deg) brightness(89%) contrast(100%);
}

/* article formats */
/* Main header navigation menu */
/* Common properties*/
/* Menu item Dropdown icon */
/* Menu items metadata*/
/* Form control */
/* Border information */
/*** Screen width. Apply for styling according to the display screern size
* Referential source to design size : https://getbootstrap.com/docs/5.3/layout/grid/
*
***/
/** General stylings */
section.dutapod-footer-container {
  border-top: 2px solid #000000;
  padding-top: 1em;
}

/***************************************************************/
/** Main content of the home page */
article.page div.entry-content {
  /** 1. Hero section  */
  /** 2. Best selling products section  */
  /*
  div.wc-best-selling-products-sc-container{
      max-width: 100%;
      margin-left: 'calc( - 50vw + 50% )';
      margin-right: 'calc( - 50vw + 50% )';
  }//.wc-best-selling-products-sc-container
  */
  /** 3. Most popular products section  */
  /** 2 and 3 - styling zoom in animation effect */
  /** 4. Testimonial sections - old */
  /* div.dutapod-testimonial-container{
      border-top: 2px solid #000000;
      padding-top: 1em;

      // 4.1. Testimonial heading
      h3.wp-block-heading{
          width: 100%;
          max-width: 100vw;
          margin: 1em 2em 1em 2em;
          padding: 1em 2em 1em 2em;
      }//h3.wp-block-heading

      // 4.2. Testimonial contents 
      div.wp-block-columns{
          width: 100%;
          max-width: 100vw;
          margin: 1em 2em 1em 2em;
          padding: 1em 2em 1em 2em;
      }//div.wp-block-columns

  }//div.dutapod-testimonial-container */
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover {
  /** a. cover element */
  /** b. hero images */
  /** c. Image caption container */
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover span.wp-block-cover__background {
  z-index: 2;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover img.wp-block-cover__image-background {
  z-index: 1;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container {
  display: block;
  margin: 0 auto;
  z-index: 10;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container div.hero-section-caption-container {
  z-index: 11;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container div.hero-section-caption-container > * {
  z-index: 12;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link {
  overflow: hidden;
  display: block;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img {
  display: block;
  transition: transform 0.2s ease-out;
  transform-origin: center;
  will-change: transform, translate;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img:hover {
  transform: scale(1.2);
}

/** Testimonial section */
@media (min-width: 576px) {
  div#sp-testimonial-free-wrapper-999 {
    width: 90vw;
    max-width: 90vw;
  }
}
/**************************************/
/** Content styling */
/** 2. Astra scroll top button */
div#ast-scroll-top span.ast-icon.icon-arrow {
  width: 100%;
  height: 100%;
  display: block;
}
div#ast-scroll-top span.ast-icon.icon-arrow svg.ast-arrow-svg {
  height: 80%;
  transform: rotate(180deg);
  margin: 0 auto;
  text-align: center;
}

/** Hide the default footer of the Astra theem */
footer#colophon.site-footer {
  display: none !important;
}