/** Package dutapod-companion */
/** General stylings */
section.dutapod-footer-container {
  border-top: 2px solid #000000;
  padding-top: 1em;
}

/***************************************************************/
/** Main content of the home page */
article.page div.entry-content {
  /** 1. Hero section  */
  /** 2. Best selling products section  */
  /*
  div.wc-best-selling-products-sc-container{
      max-width: 100%;
      margin-left: 'calc( - 50vw + 50% )';
      margin-right: 'calc( - 50vw + 50% )';
  }//.wc-best-selling-products-sc-container
  */
  /** 3. Most popular products section  */
  /** 2 and 3 - styling zoom in animation effect */
  /** 4. Testimonial sections */
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover {
  /** a. cover element */
  /** b. hero images */
  /** c. Image caption container */
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover span.wp-block-cover__background {
  z-index: 2;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover img.wp-block-cover__image-background {
  z-index: 1;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container {
  display: block;
  margin: 0 auto;
  z-index: 10;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container div.hero-section-caption-container {
  z-index: 11;
}
article.page div.entry-content div.hero-section-image-container.wp-block-cover div.wp-block-cover__inner-container div.hero-section-caption-container > * {
  z-index: 12;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link {
  overflow: hidden;
  display: block;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img {
  display: block;
  transition: transform 0.2s ease-out;
  transform-origin: center;
  will-change: transform, translate;
}
article.page div.entry-content div.woocommerce.columns-4 ul.products.columns-4 li.product div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img:hover {
  transform: scale(1.2);
}
article.page div.entry-content div.dutapod-testimonial-container {
  border-top: 2px solid #000000;
  padding-top: 1em;
  /** 4.1. Testimonial heading */
  /** 4.2. Testimonial contents */
}
article.page div.entry-content div.dutapod-testimonial-container h3.wp-block-heading {
  width: 100%;
  max-width: 100vw;
  margin: 1em 2em 1em 2em;
  padding: 1em 2em 1em 2em;
}
article.page div.entry-content div.dutapod-testimonial-container div.wp-block-columns {
  width: 100%;
  max-width: 100vw;
  margin: 1em 2em 1em 2em;
  padding: 1em 2em 1em 2em;
}

/**************************************/
/** Content styling */
/** Hide the default footer of the Astra theem */
footer#colophon.site-footer {
  display: none !important;
}