/*
*   @Package devsunsettheme
* * Need to test the code in the actual position before import. (file devsunset.scss)
**/
/*
Devsunset variables
-----------------------
*/
/**
*    @Package sunsetpro plugin
* * Need to test the code in the actual position before import. (file sunsetpro.scss)
**/
/* Color code */
/*Filter color*/
.colorize-white {
  filter: invert(97%) sepia(0%) saturate(7486%) hue-rotate(14deg) brightness(102%) contrast(101%);
}

.colorize-white-with-black-shadow {
  filter: invert(97%) sepia(0%) saturate(7486%) hue-rotate(14deg) brightness(102%) contrast(101%)drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.8));
}

.colorize-black {
  filter: invert(0%) sepia(0%) saturate(7484%) hue-rotate(305deg) brightness(89%) contrast(100%);
}

/* article formats */
/* Main header navigation menu */
/* Common properties*/
/* Menu item Dropdown icon */
/* Menu items metadata*/
/* Form control */
/* Border information */
/*** Screen width. Apply for styling according to the display screern size
* Referential source to design size : https://getbootstrap.com/docs/5.3/layout/grid/
*
***/
div.order-tracking-container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
div.order-tracking-container h1.order-info-page-title {
  text-align: left;
  font-size: 2em;
}
div.order-tracking-container h3.order-info-search-form-header {
  text-align: left;
  font-size: 1.2em;
}
div.order-tracking-container div.order-search-inner-container {
  width: 100%;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 1em 0;
}
div.order-tracking-container div.order-search-inner-container form.order-search-form {
  max-width: inherit;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
div.order-tracking-container div.order-search-inner-container form.order-search-form label.wc-order-id-label {
  padding: 0 0.5em;
  margin: 0 0.5em;
  flex-grow: 1;
  white-space: nowrap;
}
div.order-tracking-container div.order-search-inner-container form.order-search-form input.order-id-input-area[type=text] {
  padding: 0 0.5em;
  margin: 0 0.5em;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-grow: 3;
  font-size: 1em;
  outline: none;
}
div.order-tracking-container div.order-search-inner-container form.order-search-form button.order-id-search-button {
  padding: 0 0.5em;
  margin: 0 0.5em;
  flex-grow: 1;
  font-size: 1.6em;
  background-color: #0073aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
div.order-tracking-container div.order-search-inner-container form.order-search-form button.order-id-search-button:hover {
  background-color: #005f7a;
}
div.order-tracking-container h3.order-info-detail-header {
  text-align: left;
  font-size: 1.2em;
}
div.order-tracking-container div.loading-spinner-result {
  display: none;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0073aa;
  border-radius: 50%;
  animation: spin_loading_item 1s linear infinite;
  margin: 1em auto;
}
@keyframes spin_loading_item {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.order-tracking-container div.order-tracking-result-container {
  width: 100%;
  margin: 20px auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10%);
}
div.order-tracking-container div.order-tracking-result-container.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform 360ms ease-in-out, opacity 360ms ease-in-out, visibility 360ms ease-in-out;
}