/** Package dutapod-companion */

@use '../../../bases/variables' as variables;

/** General stylings */
section.dutapod-footer-container{
    border-top: 2px solid #000000;
    padding-top: 1em;
}



/***************************************************************/
/** Main content of the home page */

article.page{
    
    div.entry-content{

        /** 1. Hero section  */
        div.hero-section-image-container.wp-block-cover{

            /** a. cover element */
            span.wp-block-cover__background{
                z-index: 2;
            }//span.wp-block-cover__background

            /** b. hero images */
            img.wp-block-cover__image-background{
                z-index: 1;
            }//img.wp-block-cover__image-background

            /** c. Image caption container */
            div.wp-block-cover__inner-container{
                display: block;
                // Centrailize the hero section caption container
                margin: 0 auto;
                z-index: 10;

                div.hero-section-caption-container{
                    z-index: 11;

                    > * {
                        z-index: 12;
                    }

                    
                }//div.hero-section-caption-container
            }//div.wp-block-cover__inner-container
        }//div.wp-block-cover

        /** 2. Best selling products section  */
        /*
        div.wc-best-selling-products-sc-container{
            max-width: 100%;
            margin-left: 'calc( - 50vw + 50% )';
            margin-right: 'calc( - 50vw + 50% )';
        }//.wc-best-selling-products-sc-container
        */

        div.lazy-load-best-selling-products-outer-container{            
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;

            &.fade-in{
                opacity: 1;
                transform: translateY(0);
            }

            // div#best-selling-products-lazy-load-container-id{
            //} //div#best-selling-products-lazy-load-container-id
        }//.lazy-load-best-selling-products-outer-container

        

        /** 3. Most popular products section  */

        /** 2 and 3 - styling zoom in animation effect */
        div.woocommerce.columns-4{

            ul.products.columns-4{

                li.product{
                    // border: 2px solid red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    div.astra-shop-thumbnail-wrap{

                        a.woocommerce-loop-product__link{
                            overflow: hidden;
                            display: block;
                            // position: relative;
                            
                            img {
                                display: block;
                                // position: absolute;
                                transition: transform 0.2s ease-out;
                                transform-origin: center;
                                // transform-origin: 0 0;
                                will-change: transform, translate;
        
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                            
                        }//a.woocommerce-loop-product__link

                    }//div.astra-shop-thumbnail-wrap
                }//li.product
            }//ul.products.columns-4

        }//div.woocommerce.columns-4

        /** 4. Testimonial sections - old */
        /* div.dutapod-testimonial-container{
            border-top: 2px solid #000000;
            padding-top: 1em;

            // 4.1. Testimonial heading
            h3.wp-block-heading{
                width: 100%;
                max-width: 100vw;
                margin: 1em 2em 1em 2em;
                padding: 1em 2em 1em 2em;
            }//h3.wp-block-heading

            // 4.2. Testimonial contents 
            div.wp-block-columns{
                width: 100%;
                max-width: 100vw;
                margin: 1em 2em 1em 2em;
                padding: 1em 2em 1em 2em;
            }//div.wp-block-columns
            
        }//div.dutapod-testimonial-container */      

    }//div.entry-content

}//article.page


/** Testimonial section */

@media( min-width: variables.$min-md-width ){
    div#sp-testimonial-free-wrapper-999{
        width: 90vw;
        max-width: 90vw;
        // margin-left: -5vw;
    }//div#sp-testimonial-free-wrapper-999
}

@media( max-width: variables.$max-xs-width ){
    // 1. Article content
    article.page{
    
        div.entry-content{
    
            // 1.1. Hero section
            div#hero-section-image-id.hero-section-image-container{
                width: 100vw;
                max-width: 100vw;
            }//div.hero-section-image-container.wp-block-cover

        }//div.entry-content
    }//article.page


    // 2. Disable the scroll top button
    div.ast-scroll-top{
        display: none;
    }
}


/**************************************/
/** Content styling */

/** 2. Astra scroll top button */
div#ast-scroll-top{
    span.ast-icon.icon-arrow{
        width: 100%;
        height: 100%;
        display: block;

        svg.ast-arrow-svg{
            // width: 100%;
            height: 80%;
            transform: rotate( 180deg);
            margin: 0 auto;
            text-align: center;

        }//svg.ast-arrow-svg
    }//span.ast-icon.icon-arrow
}//div#ast-scroll-top


/** Hide the default footer of the Astra theem */

footer#colophon.site-footer{
    display: none !important;
}
