/** Package dutapod-companion */
@use '../../../bases/scss/variables' as variables;

/** I. Generic styling for all screen size */

div.order-tracking-container{
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    text-align: center;

    // 1. Site title : Order Information
    h1.order-info-page-title{
        text-align: left;
        font-size: 2em;
    }

    // 2. Search form title
    h3.order-info-search-form-header{
        text-align: left;
        font-size: 1.2em;
    }

    // 3. Search area inner container
    div.order-search-inner-container{
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 1em 0;
        
        // 3.1. Search form
        form#order-search-form-id.order-search-form-container {
            // width: 100%;
            max-width: inherit;
            margin-bottom: 20px;
            // Styling based on screen size
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // // align-items: stretch;
            // justify-content: space-around;

            background: #ffffff;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

            // CSS padding margin shorthand: https://www.w3schools.com/css/css_padding.asp

            // 3.1.1. label order ID
            label.wc-order-id-label{
                padding: 0 0.5em;
                margin: 0 0.5em;

                flex-grow: 1;
                white-space: nowrap;
            }//label.wc-order-id-label
    
            // Input order ID
            input.order-id-input-area[type="text"]{
                // width: 80%;
                // padding: 10px;
                padding: 0 0.5em;
                margin: 0 0.5em;
                font-size: 1.2em;

                border: 1px solid #ddd;
                border-radius: 5px;
                // flex-grow: 3;               
                font-size: 1em;
                outline: none;
            }//input.order-id-input-area

            // 3.1.2. Label order email
            label.wc-order-email-label{
                padding: 0 0.5em;
                margin: 0 0.5em;

                // flex-grow: 1;
                white-space: nowrap;
            }//label.wc-order-email-label

            // Input email
            input.order-email-input-area{
                padding: 0 0.5em;
                margin: 0 0.5em;
                font-size: 1.2em;

                border: 1px solid #ddd;
                border-radius: 5px;
                // flex-grow: 3;               
                font-size: 1em;
                outline: none;
            }//input.order-email-input-area
    
            // 3.1.3. Search button 
            button.order-search-button{
                // padding: 10px 15px;
                padding: 0 0.5em; 
                margin: 0 0.5em;

                // flex-grow: 1;
                font-size: 1.6em;

                background-color: #0073aa;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s ease-out;
    
                &:hover{
                    background-color: #005f7a;
                }
            }//button.order-search-button
    
        }//form#order-search-form-id.order-search-form-container


        // 3.2. Search note container 
        div.order-search-notes-container{
            margin: 0.5em 0;
            padding: 0.5em 0;
        }//div.order-search-notes-container



    }//div.order-tracking-inner-container    

    // 2. Search results area

    h3.order-info-detail-header{
        text-align: left;
        font-size: 1.2em;
    }//h3.order-info-detail-header

    // 2.1. Loading spinner item
    div.loading-spinner-result{
        display: none; // Hidden by default
        width: 30px;
        height: 30px;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #0073aa;
        border-radius: 50%;
        animation: spin_loading_item 1s linear infinite;
        // align item center
        margin: 1em auto;
    }//div.loading-spinner-result

    @keyframes spin_loading_item {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    // 2.2. Search result container
    div#order-search-result-container-id.order-search-result-container{
        width: 100%;
        //margin: 20px auto;
        margin: 1em 0;
        padding: 1em;
        // display property with flexbox
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        
        // Border and shadow
        border: 2px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

        // For animation effect
        visibility: hidden;
        opacity: 0;
        transform: translateY(10%);        

        &.show{
            visibility: visible;
            opacity: 1; 
            transform: translateY(0);
            transition: transform 360ms ease-in-out, opacity 360ms ease-in-out, visibility 360ms ease-in-out;

            // Everything in order tracking result container here
            // 1. Order information container:
            div.order-information-container{
                div.order-id, div.order-status,div.order-total-price{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                }//div.order-id, div.order-status,div.order-total-price
            }//div.order-information-container

            // 2. Progress bar
            div.order-progress{

                ul{
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    margin: 1em 0;

                    li{
                        width: 30%;
                        text-align: center;
                        padding: 1em;
                        border-bottom: 3px solid grey;

                        &.active{
                            color: green;
                            font-weight: bold;
                            border-bottom: 3px solid green;
                        }
                    }
                }//ul

            }//div.order-progress

            // 3. product list table - within the current order
            table.product-list-table{
                margin: 1em 0;
                padding: 1em 0;
                border: 2px solid #ddd;

                // header row
                tr.header-row{
                    th{
                        text-align: center;
                        background-color: #e1e1e1; // Very Light grey                        
                    }

                    th:nth-child(1){
                        border: 2px solid rgba(0,0,0,0.5);
                    }

                    th:not(:first-child){
                        border-right: 2px solid rgba(0,0,0,0.5);
                        border-top: 2px solid rgba(0,0,0,0.5);
                        border-bottom: 2px solid rgba(0,0,0,0.5);
                    }
                }//tr.header-row

                // data row
                tr.data-row{
                    // Product order
                    td:nth-child(1){
                        text-align: center;
                    }

                    // Product name 
                    td:nth-child(2){
                        text-align: left;
                    }

                    // Product quantity
                    td:nth-child(3){
                        text-align: center;
                    }
                }//tr.data-row
            }
        }//&.show

    }//#order-search-result-container-id.order-search-result-container

}//div.order-tracking-container

/** II. Styling basing on the screen size */ 
// I. For medium screen size or bigger
@media(min-width: variables.$min-md-width){

    div.order-tracking-container{

        // 3. Search area inner container
        div.order-search-inner-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            // 1. Search form information
            form#order-search-form-id.order-search-form-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                // align-items: stretch;
                justify-content: space-around;
                // flex-wrap: wrap;

                // 3.1.1. label order ID
                label.wc-order-id-label{
                    flex-grow: 1;
                }//label.wc-order-id-label
    
                // Input order ID
                input.order-id-input-area[type="text"]{
                    min-width: 12em;
                    flex-grow: 3;              
                }//input.order-id-input-area

                // 3.1.2. Label order email
                label.wc-order-email-label{
                    flex-grow: 1;
                }//label.wc-order-email-label

                // Input email
                input.order-email-input-area[type="email"]{
                    min-width: 24em;
                    flex-grow: 6;               
                }//input.order-email-input-area
    
                // 3.1.3. Search button 
                button.order-search-button{
                    // padding: 10px 15px;
                    padding: 0 0.5em; 
                    margin: 0 0.5em;

                    // flex-grow: 1;
                    font-size: 1.6em;

                    background-color: #0073aa;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.3s ease-out;
        
                    &:hover{
                        background-color: #005f7a;
                    }
                }//button.order-search-button
            }//form#order-search-form-id.order-search-form-container

            // 3. Order search note section
            div.order-search-notes-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }//div.order-search-inner-container

    }//div.order-tracking-container

}//@media(min-width: variables.$min-md-width)

// II. For small screen size or smaller
@media(max-width: variables.$max-sm-width){
    div.order-tracking-container{
        width: 100%;
        
        // 3. Search area inner container
        div.order-search-inner-container{
            width: 100%;

            form#order-search-form-id.order-search-form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // align-items: stretch;
                justify-content: space-around;

                // 3.1.1. Label order ID
                label.wc-order-id-label{
                    text-align: left;
                    margin: 0.5em 0;
                }//label.wc-order-id-label

                 // Input oderID 
                input.order-id-input-area[type="text"]{
                    margin: 0.5em 0;
                    min-width: 24em;
                }//input.order-id-input-area

                // 3.1.2. Label order email
                label.wc-order-email-label{
                    text-align: left;
                    margin: 0.5em 0;
                }//label.wc-order-email-label

                // Input email
                input.order-email-input-area[type="email"]{
                    margin: 0.5em 0;
                    min-width: 24em;
                }//input.order-email-input-area
        
                // 3.1.3. Search button 
                button.order-search-button{
                    // padding: 10px 15px;
                    margin: 0.5em 0;         

                    background-color: #0073aa;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.3s ease-out;
        
                    &:hover{
                        background-color: #005f7a;
                    }
                }//button.order-search-button

            }//form#order-search-form-id.order-search-form-container
        }//div.order-search-inner-container
    }//div.order-tracking-container

}//@media(min-width: variables.$min-md-width)

