/** Package dutapod-companion WordPresss plugin  */

div#wpbody-content{
    h1 {
        color: #000080;
    }
    
    h3 {
        color: #000080;
    }

    // 1. Pluing settings data form
    & > form#pluggin-settings-form-id{
        // border: 2px solid red; // OK - valid selector

        // Form table
        table.form-table{
            // border: 2px solid red; // OK - valid selector

            & > tbody{
                // border: 2px solid red; // OK - valid selector 
                
                // 1. General row styling
                & > tr.plugin-general-settings{
                    // border: 2px solid red;

                    // table header
                    & > th[scope="row"]{
                        label{
                            white-space: no-wrap;
                        }
                    }//th[scope="row"]

                    
                    // table data - general table data
                    & > td {

                        // General table data inner container
                        & > div.plugin-general-settings{
                        
                            & > input.field-value{
                                display: inline-block;
                                width: 40em;
                            }// input.field-value
    
    
                        }//div.plugin-general-settings
                    }//td
                }//tr.plugin-general-settings

                // 4. Author company logo styling
                & > tr.plugin-general-settings.author-company-logo{

                    & > td{
                        div.plugin-company-logo-container{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;

                            // 4.1. Image preview area container
                            div.preview-area-container{
                                max-width: 40em;
                                max-height: 10em;
                                min-width: 4em;
                                min-height: 1em;
                                display: block;
                                border: 1px solid grey;

                                img#plugin-company-logo-preview-id{
                                    max-width: 40em;
                                    max-height: 10em;
                                }//img#plugin-company-logo-preview-id
                            }//div.preview-area-container

                            // 4.2. Button area controller
                            div.button-area-container{
                                // 4.2.1. Upload button
                                button.upload-company-logo-button{
                                    margin: 1em 0;
                                    padding: 0.5em;
                                }//button.upload-company-logo-button
                                
                                // 4.2.2. Remove button
                                button.remove-company-logo-button{
                                    margin: 1em 0 1em 2em; 
                                    padding: 0.5em;
                                    // If there is no image uploaded, this button need to be disabled
                                    // display: none;
                                }//button.remove-company-logo-button

                            }//div.button-area-container
                        }//div.plugin-company-logo-container
                    }//td
                }//& > tr.plugin-general-settings.author-company-logo
            }//tbody
        }//table.form-table
    
    }//form.dutapod-companion-plugin-settings-for

}//div#wpbody-content


