<div
  class="product-card product-card-style-card color-scheme-d3c4c0a8-8008-4fbe-9cb6-8b6689dfa03c"
>
  <div class="product-card__wrapper h-full">
    <div class="product-card__image-wrapper color-scheme-4 bg-none">
      <a
        href="/products/sea-turtle-personalized-pyr1211009"
        aria-label="Sea Turtle PYR1211009 Stainless Steel Tumbler"
        tabindex="-1"
      >
        <motion-element data-motion="zoom-out-sm" class="block"
          ><div
            class="media-wrapper product-card__image product-card__image--main loaded"
            style="--aspect-ratio: 1"
          >
            <img
              src="//64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=1800"
              alt="Sea Turtle PYR1211009 Stainless Steel Tumbler"
              srcset="
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=70     70w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=140   140w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=165   165w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=355   355w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=450   450w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=535   535w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=710   710w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=900   900w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=1070 1070w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=1420 1420w,
                //64hydro.com/cdn/shop/files/PYR1211009.png?v=1689045741&amp;width=1800 1800w
              "
              width="1800"
              height="1800"
              loading="eager"
              fetchpriority="high"
              class="motion-reduce loaded"
              sizes="(max-width: 767px) calc((100vw - 30px) / 2),
  (max-width: 1023px) calc((100vw - 30px) / 2),
  470px"
              is="image-lazy"
            />
          </div>
          <div
            class="media-wrapper product-card__image product-card__image--second inset-full hidden md:block loaded"
            style="--aspect-ratio: 1"
          >
            <img
              src="//64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=1500"
              alt="Sea Turtle PYR1211009 Stainless Steel Tumbler"
              srcset="
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=70     70w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=140   140w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=165   165w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=355   355w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=450   450w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=535   535w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=710   710w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=900   900w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=1070 1070w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=1420 1420w,
                //64hydro.com/cdn/shop/files/PYR1211009.gif?v=1689045741&amp;width=1500 1500w
              "
              width="1500"
              height="1500"
              loading="lazy"
              class="motion-reduce loaded"
              sizes="(max-width: 767px) calc((100vw - 30px) / 2),
  (max-width: 1023px) calc((100vw - 30px) / 2),
  470px"
              is="image-lazy"
            /></div
        ></motion-element>
      </a>
      <div class="product-card__badge">
        <span class="f-badge f-badge--sale" aria-hidden="true">-14%</span>
      </div>
    </div>
    <div class="product-card__info text-left">
      <p class="product-card__type text-sm m-0">
        <span class="visually-hidden">Type:</span>
        Stainless Steel Tumbler
      </p>
      <h3 class="product-card__title text-pcard-title">
        <a
          class="reversed-link"
          href="/products/sea-turtle-personalized-pyr1211009"
          >Sea Turtle PYR1211009 Stainless Steel Tumbler</a
        >
      </h3>

      <div class="f-price f-price--left f-price--on-sale">
        <div class="f-price__regular">
          <span class="visually-hidden visually-hidden--inline"
            >Regular price</span
          >
          <span class="f-price-item f-price-item--regular"> From $29.95 </span>
        </div>
        <div class="f-price__sale">
          <span class="visually-hidden visually-hidden--inline"
            >Sale price</span
          >
          <span class="f-price-item f-price-item--sale"> From $29.95 </span>
          <span class="visually-hidden visually-hidden--inline"
            >Regular price</span
          >
          <span class="f-price-item f-price-item--regular">
            <s> $34.95 </s>
          </span>
        </div>
        <div class="f-price__unit-wrapper hidden">
          <span class="visually-hidden">Unit price</span>
          <div class="f-price__unit">
            <span data-unit-price=""></span><span aria-hidden="true">/</span
            ><span class="visually-hidden">per&nbsp;</span
            ><span data-unit-price-base-unit=""></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <quick-view-modal
    id="QuickView-6555324842149-template--17885087236261__product_tabs_iJHLzKtab_Yz8Mnz"
    class="quick-view drawer drawer--right"
    data-product-url="/products/sea-turtle-personalized-pyr1211009"
    hidden=""
  >
    <div
      class="fixed-overlay"
      aria-controls="QuickView-6555324842149-template--17885087236261__product_tabs_iJHLzKtab_Yz8Mnz"
    ></div>
    <div class="drawer__inner">
      <button
        class="drawer__close-btn"
        aria-controls="QuickView-6555324842149-template--17885087236261__product_tabs_iJHLzKtab_Yz8Mnz"
        aria-label="Close"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
          class="icon icon-close icon--medium"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            d="M18.75 5.13496L5.25 18.8544"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M18.75 18.8544L5.25 5.13496"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>

      <div class="loading__spinner hidden">
        <svg
          aria-hidden="true"
          focusable="false"
          class="spinner icon icon--extra-medium"
          viewBox="0 0 66 66"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            class="path"
            fill="none"
            stroke-width="4"
            cx="33"
            cy="33"
            r="30"
          ></circle>
        </svg>
      </div>
      <div class="drawer__body v-scrollable h-full quick-view__content"></div>
    </div>
  </quick-view-modal>
</div>
