/** Package dutapod-companion plugin - 20250124 */

div.product-description-accordion-container.custom-product-description{
    width: 100%;
    //padding: 1em 0 1em 0;
    margin: 1em 0 1em 0;

    button.custom-accordion-button{
        background-color: #007acc;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        text-align: left;
        outline: none;
        width: 100%;
    
        &::after{
            content: '▼'; 
            float: right; 
            transition: transform 0.3s ease; 
            transform: rotate(90deg);
        }
    
        &.open::after{
            content: '▼'; 
            float: right; 
            // transition: transform 0.3s ease; 
            transform: rotate(0deg);
        }
    }//button.custom-accordion-button
    
    div.custom-accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: #f9f9f9;
        padding: 0 20px;
    
        &.open{
            max-height: 100%;  /* Adjust based on content size . Initial suggested is 500px*/
            padding: 10px 20px;
            transition: max-height 0.3s ease-out;
            overflow: hidden; /* Keep overflow hidden during transitions */
            //transition: height 0.3s ease; 
        }
    }//div.custom-accordion-content
}//div.product-description-accordion-container.custom-product-description


// Review section 

div.woocommerce-custom-reviews-section{
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;

    & h3 {
        margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    }
}//div.woocommerce-custom-reviews-section
  
// Related products
section.related.products{

    /** 1. Single product display  */
    ul.products{

        li.product{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            /** 1.1. Product thumbnail image display  */
            div.astra-shop-thumbnail-wrap{

                a.woocommerce-loop-product__link{
                    overflow: hidden;
                    display: block;
                    // position: relative;
                    
                    img {
                        display: block;
                        // position: absolute;
                        transition: transform 0.2s ease-out;
                        transform-origin: center;
                        // transform-origin: 0 0;
                        will-change: transform, translate;

                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                    
                }//a.woocommerce-loop-product__link
            
            }//div.astra-shop-thumbnail-wrap

        }//li.product

    }//ul.products

}//section.related.products