/** 1. Styling footer outer container */
div.dutapod-footer-outer-container {
  width: 100%;
  border-top: 2px solid #000000;
}

/** 2. Styling footer content */
div#dutapod-footer-container.dutapod-footer-container {
  /** 1. Contact us section - 1st column */
  /** 2. Our company section - 2nd column */
  /** 3. Customer support section - 3rd column */
}
div#dutapod-footer-container.dutapod-footer-container div.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div#dutapod-footer-container.dutapod-footer-container div.contact-us-container div.info-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div#dutapod-footer-container.dutapod-footer-container div.our-company-container {
  display: flex;
  flex-direction: column;
}
div#dutapod-footer-container.dutapod-footer-container div.our-company-container ul.list-info-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 0;
}
div#dutapod-footer-container.dutapod-footer-container div.our-company-container ul.list-info-items li {
  display: block;
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div#dutapod-footer-container.dutapod-footer-container div.our-company-container ul.list-info-items li a {
  color: #000000;
  text-decoration: none;
}
div#dutapod-footer-container.dutapod-footer-container div.customer-support-container {
  display: flex;
  flex-direction: column;
}
div#dutapod-footer-container.dutapod-footer-container div.customer-support-container ul.list-info-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 0;
}
div#dutapod-footer-container.dutapod-footer-container div.customer-support-container ul.list-info-items li {
  display: block;
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div#dutapod-footer-container.dutapod-footer-container div.customer-support-container ul.list-info-items li a {
  color: #000000;
  text-decoration: none;
}