/** Package dutapod-companion WordPresss plugin  */
div#wpbody-content h1 {
  color: #000080;
}
div#wpbody-content h3 {
  color: #000080;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings > th[scope=row] label {
  white-space: no-wrap;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings > td > div.plugin-general-settings > input.field-value {
  display: inline-block;
  width: 40em;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings.author-company-logo > td div.plugin-company-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings.author-company-logo > td div.plugin-company-logo-container div.preview-area-container {
  max-width: 40em;
  max-height: 10em;
  min-width: 4em;
  min-height: 1em;
  display: block;
  border: 1px solid grey;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings.author-company-logo > td div.plugin-company-logo-container div.preview-area-container img#plugin-company-logo-preview-id {
  max-width: 40em;
  max-height: 10em;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings.author-company-logo > td div.plugin-company-logo-container div.button-area-container button.upload-company-logo-button {
  margin: 1em 0;
  padding: 0.5em;
}
div#wpbody-content > form#pluggin-settings-form-id table.form-table > tbody > tr.plugin-general-settings.author-company-logo > td div.plugin-company-logo-container div.button-area-container button.remove-company-logo-button {
  margin: 1em 0 1em 2em;
  padding: 0.5em;
}