/** Package dutapod-companion plugin - 20250124 */
/** Styling the single product page display */
div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link {
  overflow: hidden;
}
div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img {
  transform: scale(1);
  transition: transform 0.3s ease;
}
div.astra-shop-thumbnail-wrap a.woocommerce-loop-product__link img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}